.container {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
  justify-content: center;
  max-width: 1024px;
}

.encabezado h1 {
  text-align: center;
  background-color: thistle;
  height: 64px;
  margin: 0 auto;
  padding-top: 0;
  width: 0 auto;
}

li {
  list-style: none;
  justify-content: center;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background: #28223f;
  flex-direction: row;
}

.card-container {
  margin: 18px;
  background-color: #231e39;
  border-radius: 15px;
  color: #b3b8cd;
  text-align: center;
  width: 0 auto;
  padding: 5px;
  height: 250px;
  float: left;
  margin-top: 60px;

  & img {
    border-radius: 50%;
  }
}
